* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: monospace;
}

.header {
  background: url('./assets/evil_curtis.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;  /* Full-page height */
  background-color: #333;
  color: white;
  transition: all 0.3s ease;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header.scrolled {
  background-color: #222; /* Darker background when scrolled */
  height: 100px; /* Collapsed height */
}

.header-content {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: -10px;
}

.header.scrolled .header-content {
  opacity: 0; /* Hide content when collapsed */
}

/* to get the top property to work, the element must inclue the position element */
.header-h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  color: white;
  top: -100px;
  position: relative;
  
}

/* 2px horizontal, 2px vertical, 5px blur radius, rgba=shadow color, 0.5 = 50% opacity */
.header-p {
  font-size: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  font-weight: bold;
  font-family: "Coda", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  top: -50px;
}

/* Navbar styles */
.navbar {
  /* absolute prop positions element relative to its nearest ancestor <header> */
  position: absolute; /* floats navbar to bottom */
  /* the reason the navbar doesn't float at the bottom if you remove absolute is because without it the navbar follows the normal flow of the document layout */

  bottom: 0; /* Positions the navbar at the bottom of the header */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
  padding: 10px 0;
  text-align: center;
  z-index: 20;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #f39c12; /* Highlight color on hover */
}


/* Content Section */
.content {
  padding-top: 500px; /* Push content down to avoid overlap with header */
  text-align: center;
}

.dark-enlightenment-info-section {
  padding-bottom: 30px;
}

.dark-enlightenment-title {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.dark-enlightenment-link {
  color: red;
  text-decoration: underline;
}

.dark-enlightenment-text {
  padding-top: 20px;
  font-family: monospace;
}

.butterfly img {
  width: 700px;
  height: 700px;
}

